#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/* Hide the checkbox */
#themeSwitch {
  display: none;
}


.theme-toggle {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 24px;
  background-color: #ccc;
  border-radius: 24px;
  cursor: pointer; 
   overflow: hidden;
}


.theme-toggle::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
}

#themeSwitch:checked + .theme-toggle {
  background-color: #4a90e2;
}

#themeSwitch:checked + .theme-toggle::after {
  transform: translateX(26px);
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5f7fa;
  color: #333;
  line-height: 1.6;
}

body.dark-mode {
  background-color: #121212;
}


.timeline-nav button:focus,
.timeline-nav button:active {
  outline: 3px solid blue; 
  outline-offset: 3px;
}


.timeline-nav button.btn-primary {
  background-color: #0d6efd;
  border-color: #0d6efd;
  color: #fff;
}


.timeline-nav button.btn-outline-primary {
  color: #0d6efd;
  border-color: #0d6efd;
}
.timeline-nav button.btn-outline-primary:focus {
  background-color: #e6f0ff; 
}


.btn-learn-more:focus,
.btn-learn-more:active {
  outline: 3px solid #000;
  outline-offset: 2px;
}

.btn-close:focus,
.btn-close:active {
  outline: 3px solid #000;
  outline-offset: 2px;
}

.main-container {
  min-height: 100vh; /* full viewport height */
  display: flex;
  flex-direction: column;
}

